<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="utf-8">
      <title>Login with your account</title>

      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
  </head>

  <body>
    <div class="container">
      <form class="form-signin" method="POST" th:action="@{/login}">
        <h2 class="form-heading">Login</h2>

        <div class="row alert alert-danger" th:if="${param.error}"
             th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
            <span th:text="${errorMsg}">Wrong input!</span>
        </div>


        <div class="form-group">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>

            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>

            <!-- no need to add, will added automatically -->
            <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <!-- <h4 class="text-center"><a href="/registration">Create an account</a></h4> -->
        </div>
      </form>
    </div>




    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
