<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Logout</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
</head>

<body>
  <div class="container">
    <form class="form" method="POST" th:action="@{/logout}">

      <div class="row col-2">
        
        <input type="submit" class="btn btn-danger"  value="logout"/>

      </div>
    </form>
  </div>




  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
