<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>List Car</title>
</head>
<body>
	<h1>List car</h1>
	<br/>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Vendor</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="car : ${cars}">
				<td th:text="${car.name}"></td>
				<td th:text="${car.vendor}"></td>
				<td><a th:href="@{/car/edit/{id}(id=${car.id})}">Edit</a></td>
				<td><a th:href="@{/car/delete/{id}(id=${car.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>