<!DOCTYPE html>
<html lang="en" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Lab - encode</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
</head>

<body>
  <div class="container">
    <form class="form" method="POST" th:action="@{/lab/encode}">
      <div class="row">
        <div class="col-3">
          <label>Input</label>
        </div>
        <div class="col-6">
          <input type="text" name="str" th:value="${str}" class="form-control" autofocus>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label>Algorithm</label>
        </div>
        <div class="col-6">
          <select name="algo" class="form-control">
            <option>bcrypt</option>
            <option>noop</option>
            <option>pbkdf2</option>
            <option>sha256</option>
          </select>
        </div>
      </div>
      <div class="row col-12">
        <label>Encoded</label>
        <textarea th:text="${result}"></textarea>
      </div>

      <div class="row col-2">
        
        <input type="submit" class="btn btn-primary"  value="go"/>

      </div>
    </form>

    <div class="row alert alter-info">
      (#authentication) User: <span th:text="${#authentication.getPrincipal().getUsername()}">null</span>
      Roles: <span th:text="${#authentication.getPrincipal().getAuthorities()}">null</span>
      (sec:authentication) User: <span sec:authentication="name">null</span>
      Roles: <span sec:authentication="principal.authorities">[null]</span>
    </div>

  </div>


  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
