<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lab</title>
</head>
<body>
    <!-- ref: https://stackoverflow.com/questions/31387526/list-all-available-model-attributes-in-thymeleaf -->
    <p>trace</p>
    <div class="row">
		<table class="table table-striped table-hover">
		    <tr th:each="var : ${#vars.getVariableNames()}">
		        <td th:text="${var}"></td>
		        <td th:text="${#vars.getVariable(var)}"></td>
		    </tr>
		    <!-- 
		        Adding these manually because they are considered special.
		        see https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.3.RELEASE/src/main/java/org/thymeleaf/context/WebEngineContext.java#L199
		    -->
		    <tr>
		        <td>param</td>
		        <td th:text="${#vars.getVariable('param')}"></td>
		    </tr>
		    <tr>
		        <td>session</td>
		        <td th:text="${#vars.getVariable('session')}"></td>
		    </tr>
		    <tr>
		        <td>application</td>
		        <td th:text="${#vars.getVariable('application')}"></td>
		    </tr>
		</table>
    </div>
	
</body>
</html>